<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/50d3f01cf7.js" crossorigin="anonymous"></script>
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css" />
  </head>

  <body>
    <main>
      <h1>TODO App</h1>

      <form id="task-form" action="/add-task" method="POST">
        <div id="desc">
          <label class="form-heading" for="description">Description</label><br>
          <input class="form-input" type="text" required name="description" placeholder="What do you need to do?">
        </div>
        <div id="cate">
          <label class="form-heading" for="category">category</label><br>
          <select class="form-input" required name="category">
            <option disabled selected hidden>Choose a category</option>
            <option>Personal</option>
            <option>Work</option>
            <option>School</option>
            <option>Cleaning</option>
            <option>Other</option>
          </select>
        </div>
        <div id="date">
          <label class="form-heading" for="date">due date</label><br>
          <input class="form-input" type="text" required name="date" placeholder="DD/MM/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
        </div>
        <div id="btn" style="border: none;">
          <button class="btn" style="padding: 0; background-color: rgb(50, 48, 58);">
            <i class="fa-solid fa-plus"></i>
            <p>add task</p>
          </button>
          <button form="delete-form" class="btn" style="padding: 0;  background-color: red;">
            <i class="fa-solid fa-trash-can"></i>
            <p>delete tasks</p>
          </button>
        </div>
      </form>

      <form id="delete-form" action="/delete-task" method="POST">
      <ul id="list">
        <li class="task">
          <input type="checkbox" name="check">
          <label for="check">
            <div class="task-title">
              <p>Why not add a task?</p>
              <p><i class="fa-regular fa-calendar-days"></i>&emsp;june 12, 2023</p>
            </div>
          </label>
        </li>
        <% for(let task of task_list){ %>
          <li class="task">
              <input type="checkbox" name="check" value="<%= task._id  %>">
              <label for="check">
                <div class="task-title">
                  <p><%= task.description %></p>
                  <p><i class="fa-regular fa-calendar-days"></i>&emsp;<%= month[task.date.getMonth()] %> <%= task.date.getDate() %>, <%=  task.date.getFullYear()  %></p>
                </div>
              </label>
            <div class="cate-card" style="background-color: <%= btncolor[task.category] %>;"><%= task.category %></div>
          </li>
        <% } %>
      </ul>
      </form>
    </main>

    <script src="script.js"></script>
    <script type="text/javascript">
      const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    </script>
  </body>
</html>
